.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 2%;
  font-size: 40px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  
}

.cart .img-cart {
  aspect-ratio: 668/536;
  width: 40%;
}

.cart span {
  text-decoration: none;
  color: #4caf50;
}


@media (max-width: 768px) {
  .cart {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .cart {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .cart {
    font-size: 18px;
  }
}